<h2>Dynamic Form</h2>

<p>Some examples here</p>

<h3>Dynamic Form plain html components</h3>

<div class="wrapper">
  <dynamic-form [config]="customConfig"
                [value]="customValue"
                [componentMap]="customComponentMap"
                (statusChanges)="onCustomVStatusChanges($event)"
                (valueChanges)="onCustomValueChanges($event)"
                class="simple-form">
  </dynamic-form>

  <div class="results">
    <p>Result</p>
    <pre>{{ customStatus }}</pre>
    <pre>{{ customFormValue | json }}</pre>
  </div>
</div>
