<h2>Dynamic Form</h2>

<p>Some examples here</p>

<h3>Dynamic Form plain html components</h3>

<div class="wrapper">
  <ngx-dynamic-form [config]="customConfig"
                    [value]="customValue"
                    [componentMap]="customComponentMap"

                    (statusChanges)="onCustomVStatusChanges($event)"
                    (valueChanges)="onCustomValueChanges($event)">
  </ngx-dynamic-form>

  <div class="results">
    <p>Result</p>
    <pre>{{ customStatus?.status | json }}</pre>
    <pre>{{ customFormValue?.value | json }}</pre>
  </div>
</div>

<h3>Dynamic Form With Material components</h3>

<div class="wrapper">
  <ngx-dynamic-form [config]="materialConfig"
                    [value]="materialValue"
                    [componentMap]="materialComponentMap"

                    (statusChanges)="onMaterialChanges($event)"
                    (valueChanges)="onMaterialValueChanges($event)">

    <h3 class="before-form">Material form is below</h3>

    <div class="form-header">
      Form header
    </div>

    <div class="form-footer">
      <p>
        Form footer. Buttons should go here usually.
      </p>

      <p>
        <button mat-stroked-button color="primary">OK!</button>
      </p>
    </div>

    <div class="after-form">
      After the form
    </div>

  </ngx-dynamic-form>

  <div class="results">
    <p>Result</p>
    <pre>{{ materialStatus?.status | json }}</pre>
    <pre>{{ materialFormValue?.value | json }}</pre>
  </div>
</div>
